body{
    font-family: Arial, Helvetica, sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background:#fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}


input[type="file"] {
    margin: 20px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#response {
    margin-top: 20px;
}
